demo/src/* linguist-documentation=false
factrank/data/model/factnet.cnn.pth filter=lfs diff=lfs merge=lfs -text
factrank/data/model/factnet.label-processor.pth filter=lfs diff=lfs merge=lfs -text
factrank/data/model/factnet.options.yml filter=lfs diff=lfs merge=lfs -text
factrank/data/model/factnet.statement-processor.pth filter=lfs diff=lfs merge=lfs -text
factrank/data/model/full_set.log filter=lfs diff=lfs merge=lfs -text
"factrank/data/word_embeddings/**/*" filter=lfs diff=lfs merge=lfs -text
factrank/legacy/data/sentences_dump_28.12.csv filter=lfs diff=lfs merge=lfs -text
