[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyyaml = "*"
sklearn = "*"
pandas = "*"
spacy = "*"
dickens = "*"
torch = "==1.1.0"
factrank = {editable = true, path = "."}

[requires]
python_version = "3.7.3"

[packages]
torchtext = "*"
